@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&family=Unbounded:wght@300;400;600;800;900&display=swap");

@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is([data-theme="dark"] *));
@custom-variant dim (&:is([data-theme="dim"] *));

:root {
  --color-brand-lime: #d4ff00;
  --color-brand-dark: #050505;
  --color-brand-surface: #121212;
  --font-display: "Unbounded", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

body {
  background-color: var(--color-brand-dark);
  color: white;
  font-family: var(--font-mono);
  overflow-x: hidden;
}

::selection {
  background-color: var(--color-brand-lime);
  color: black;
}
